{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"]
}
