@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg: #ffffff;
  --primary-color: #000000;
}

[data-theme="dark"] {
  --app-bg: #000000;
  --primary-color: #ffffff;
}

*,
body,
*::after,
*::before {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary-color);
}
